.contact-me {
    background-color: var(--bg-gradient);
    display: flex;
    justify-content: space-around;
}

.left {
    padding: 20px 30px;
    margin: 50px;
}

.ask {
    margin-top: 0;
    margin-bottom: 300px;
    text-align: center;
    font-size: 2.5rem;
}

.contact-me img {
    margin-right: 10px;
    width: auto;
    height: 16px;
}

.me {
    display: flex;
    margin: 23px 23px 23px 0;
    text-decoration: underline;
}

.container {
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="file"] {
    border: none;
    padding: 0;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

#name {
    color: black;
}